<!DOCTYPE html>
<html>
    <head>
        <title>Arm Curl Counter</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            var img = document.getElementById('video_feed');
            var count = document.getElementById('count');
            setInterval(function () {
                fetch('/get_count')
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => count.innerText = data.count)
                    .catch(e => console.log('There was a problem with your fetch operation: ' + e.message));
                img.src = '/video_feed?' + new Date().getTime();
            }, 1000);
        });

        </script>
        
    </head>
    <body>
        <h1>Arm Curl Counter</h1>
        <img id="video_feed" src="/video_feed">
        <h2 id="count">Count: 0</h2>
    </body>
</html>
